<!doctype html>
<html>

{% include head.html %}
{% include inline-mathjax.html %}

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TNWLGQEKYM"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TNWLGQEKYM');
    </script>

    <title>Zichen Liu</title>
    <meta name="description" content="Personal website of Zichen Liu" />
    <meta name="keywords" content="Zichen Liu,Liu Zichen,Zichen,NUS,National University of Singapore,Singapore,刘梓辰,Sea,Shopee,computer vision,vision,machine learning,deep learning" />
</head>

<body>
  <div class="container-black">
    <div class="container">
      {% include header.html %}
    </div>
  </div>

  <div class="container">
    <div class="post-container">
      {{ content }}
    </div>
    {% include footer-home.html %}
  </div>

</body>
</html>
